<template name="Ayuda">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ayuda</h4>
        </div>
        <div class="modal-body table">

          <table class="table">
            <tbody>
              <tr>
                <td class="col-xs-7">
                  Para reservar una sala, haz click en la opción "Mis Reservas" del menú
                </td>
                <td class="col-xs-5 img-ayuda">
                  <img src="/img/si1.jpeg" alt="Reservar" class="img-responsive">
                </td>
              </tr>

              <tr>
                <td>
                  Haz click en el módulo en el que quieras hacer la reserva. Puedes reservar en cualquier día hábil durante los próximos 6 días
                </td>
                <td class="img-ayuda">
                  <img src="/img/si2.jpeg" alt="Elige módulo" class="img-responsive">
                </td>
              </tr>

              <tr>
                <td>
                  Elige la actividad para la que quieras reservar (en caso que tengas música de cámara o doble mención)
                </td>
                <td class="img-ayuda">
                  <img src="/img/si3.jpeg" alt="Reservar" class="img-responsive">
                </td>
              </tr>


              <tr>
                <td>
                  Selecciona alguna de las salas disponibles. Puedes elegir entre salas con prioridad para tu actividad o salas sin prioridad
                </td>
                <td class="img-ayuda">
                  <img src="/img/si4.jpeg" alt="Reservar" class="img-responsive">
                </td>
              </tr>

              <tr>
                <td>
                  Haz click en "Reservar"
                </td>
                <td class="img-ayuda">
                  <img src="/img/si5.jpeg" alt="Reservar" class="img-responsive">
                </td>
              </tr>

              <tr>
                <td>
                  Tu reserva ya está hecha. Si quieres cancelarla, haz click en la reserva...
                </td>
                <td class="img-ayuda">
                  <img src="/img/si6.jpeg" alt="Elige módulo" class="img-responsive">
                </td>
              </tr>

              <tr>
                <td>
                  ...y luego en "Eliminar"
                </td>
                <td class="img-ayuda">
                  <img src="/img/si7.jpeg" alt="Reservar" class="img-responsive">
                </td>
              </tr>

              <tr>
                <td>
                  Las salas sin prioridad que reserves aparecerán de color naranjo
                </td>
                <td class="img-ayuda">
                  <img src="/img/si8.jpeg" alt="Elige módulo" class="img-responsive">
                </td>
              </tr>

              <tr>
                <td>
                  Si tu reserva se superpone con la de otra persona, se indicará con un marco rojo alrededor de la reserva
                </td>
                <td class="img-ayuda">
                  <img src="/img/si9.jpeg" alt="Elige módulo" class="img-responsive">
                </td>
              </tr>

              </tbody>
          </table>

          <hr>
          <p>Para reservar el fin de semana, solicita una sala con Nolfi Ceriche (nceriche@uc.cl). Podrás reservar alguna de las siguientes salas, por un máximo de dos módulos consecutivos:</p>
          <br>
          <p>Para estudio personal:</p>
          <p>Aula Interpretación Musical 1 - 15</p>
          <p>Aula Interpretación Musical 23 - 27</p>
          <br>
          <p>Para música de cámara:</p>
          <p>Auditorio IMUC</p>
          <p>Aulas San Juan, San Mateo, San Lucas y San Marcos</p>
          <p>Aula Mozart</p>
          <p>Casa Coro</p>

        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</template>
