<template name="Header">
  <header class="no-print">

    <button class="btn menu-btn float-right"><i class="fa fa-bars"></i></button>
    <div class="titulo">SalasIMUC</div>

    {{#if currentUser}}
      <div class="menu-bkg"></div>
      <div class="menu no-print">
        <nav class="nav nav-pills flex-column">

          <!-- Display -->
          {{#if isInRole 'display'}}
            <a class="nav-item nav-link {{isActiveRoute 'display'}}" href="/display">
              <span class="glyphicon glyphicon-facetime-video">&nbsp;</span>Display
            </a>
          {{/if}}

          <!-- Mis Reservas -->
          {{#if isInRole 'usuario'}}
            <a class="nav-item nav-link {{isActiveRoute 'reservas'}}" href="/reservas">
              <i class="fa fa-edit"></i>&nbsp;Mis Reservas
            </a>
          {{/if}}

          <!-- Ver por sala -->
          <a class="nav-item nav-link {{isActiveRoute 'porsala'}}" href="/porsala">
            <i class="fa fa-building"></i>&nbsp;Ver por sala
          </a>

          <!-- Ver por día -->
          <a class="nav-item nav-link {{isActiveRoute 'pordia'}}" href="/pordia">
            <i class="fa fa-calendar"></i>&nbsp;Ver por día
          </a>

          <!-- Salas y prioridades -->
          {{#if isInRole 'usuario'}}
            <a class="nav-item nav-link {{isActiveRoute 'salas'}}" href="/salas">
              <i class="fa fa-list"></i>&nbsp;Salas y prioridades
            </a>
          {{/if}}

          <!-- Cursos
          {{#if isInRole 'admin'}}
            <a class="nav-item nav-link {{isActiveRoute 'cursos'}}" href="/cursos">
              <i class="fa fa-graduation-cap"></i>&nbsp;Cursos
            </a>
          {{/if}} -->

          <!-- Cámara -->
          {{#if isInRole 'admin'}}
            <a class="nav-item nav-link {{isActiveRoute 'camara'}}" href="/camara">
              <i class="fa fa-music"></i>&nbsp;Cámara
            </a>
          {{/if}}

          <!-- Usuarios -->
          {{#if isInRole 'admin'}}
            <a class="nav-item nav-link {{isActiveRoute 'usuarios'}}" href="/usuarios">
              <i class="fa fa-address-book"></i>&nbsp;Usuarios
            </a>
          {{/if}}

          <!-- Registro -->
          {{#if isInRole 'admin'}}
            <a class="nav-item nav-link {{isActiveRoute 'log'}}" href="/log">
              <i class="fa fa-book"></i>&nbsp;Registro
            </a>
          {{/if}}

          <!-- Config -->
          {{#if isInRole 'superadmin'}}
            <a class="nav-item nav-link {{isActiveRoute 'config'}}" href="/config">
              <i class="fa fa-wrench"></i>&nbsp;Configuración
            </a>
          {{/if}}

          <hr>

          <a class="nav-item nav-link js-ayuda" href="#"><i class="fa fa-question-circle"></i>&nbsp;Ayuda</a>
          <a class="nav-item nav-link js-reglamento" href="#"><i class="fa fa-info-circle"></i>&nbsp;Reglamento</a>
          <a class="nav-item nav-link" href="/change-password"><i class="fa fa-key"></i>&nbsp;Cambiar clave</a>
          <a class="nav-item nav-link js-signOut" href="#"><i class="fa fa-sign-out"></i>&nbsp;Salir</a>

        </nav>
      </div>
    {{/if}}

  </header>


  {{#if hayError}}
    <div class="cuadroError">
      <a class="close js-cierraError" aria-label="close">&times;</a>
      <strong>Error:</strong> {{hayError}}
    </div>
  {{/if}}

</template>
