<template name="Header">
  <header class="no-print">

    <button class="btn menu-btn pull-right"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
    <div class="titulo">SalasIMUC</div>

    {{#if currentUser}}
      <div class="menu-bkg"></div>
      <div class="menu no-print">
        <ul class="nav nav-pills nav-stacked">

          {{#each menu}}
            {{#if isInRole role}}
              <li class="{{isActiveRoute route}}">
                <a href="/{{route}}">
                  <span class="glyphicon {{icon}}">&nbsp;</span>{{txt}}
                </a>
              </li>
            {{/if}}
          {{/each}}

          <li><hr></li>

          <li><a class="js-ayuda"><span class="glyphicon glyphicon-question-sign">&nbsp;</span>Ayuda</a></li>
          <li><a class="js-reglamento"><span class="glyphicon glyphicon-list-alt">&nbsp;</span>Reglamento</a></li>
          <li><a href="/change-password"><span class="glyphicon glyphicon-lock">&nbsp;</span>Cambiar clave</a></li>
          <li><a class="js-signOut"><span class="glyphicon glyphicon-log-out">&nbsp;</span>Salir</a></li>

        </ul>
      </div>
    {{/if}}

  </header>


  {{#if hayError}}
    <div class="cuadroError">
      <a class="close js-cierraError" aria-label="close">&times;</a>
      <strong>Error:</strong> {{hayError}}
    </div>
  {{/if}}

</template>
