<template name="Header">
  <header class="no-print">

    <!-- Sólo muestra el menú si hay sesión iniciada -->
    {{#if currentUser}}
      <div class="dropdown no-print">
        <span class="titulo">SalasIMUC</span>
        <button class="btn menu-btn dropdown-toggle" type="button" data-toggle="dropdown">Menú</button>

        <ul class="dropdown-menu">

          {{#each menu}}
            {{#if isInRole role}}
              <li class="{{isActiveRoute route}}">
                <a href="/{{route}}">
                  <span class="glyphicon {{icon}}">&nbsp;</span>{{txt}}
                </a>
              </li>
            {{/if}}
          {{/each}}

          <li><hr></li>

          <li><a class="js-ayuda"><span class="glyphicon glyphicon-question-sign">&nbsp;</span>Ayuda</a></li>
          <li><a class="js-reglamento"><span class="glyphicon glyphicon-list-alt">&nbsp;</span>Reglamento</a></li>
          <li><a href="/change-password"><span class="glyphicon glyphicon-lock">&nbsp;</span>Cambiar clave</a></li>
          <li><a class="js-signOut"><span class="glyphicon glyphicon-log-out">&nbsp;</span>Salir</a></li>

        </ul>
      </div>
    {{/if}}

  </header>
</template>
